
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header img {
	width: 150px; /* Defina o tamanho */
	height: 150px;
	border-radius: 50%; /* Adiciona borda circular*/
	margin-bottom: 20px;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

/* Cabeçalho */
header {
	background-color: #f2f2f2;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
	font-size: 36px;
	margin: 0;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	font-size: 18px;
	font-weight: bold;
}

/* Seções */
section {
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

section ul li h3 {
	margin: 0;
	margin-bottom: 10px;
}

/* Rodapé */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	font-size: 14px;
}
